.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.story-image-container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
  transition: transform 0.3s;
}

.story-image-container:hover {
  transform: scale(1.05); 
}
.story-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-icon:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.story-content {
  color: var(--primary-color);
  text-align: center;
}

.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.story-modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-story-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modal-story-content {
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-story-username {
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .story-modal-content {
    width: 70%;
    max-width: 800px;
  }

  .modal-story-image {
    max-height: 500px;
  }
}

@media (min-width: 1024px) {
  .story-modal-content {
    width: 60%;
    max-width: 1000px;
  }

  .modal-story-image {
    max-height: 600px;
  }
}
