.comment-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments {
  max-height: 200px;
  overflow-y: auto;
}

.comment {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.comment img {
  margin-right: 10px;
}

.comment-content {
  flex-grow: 1;
}

.comment-username {
  font-weight: bold;
  margin-right: 5px;
}

.comment-text {
  display: inline;
}

.comment-meta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.comment-time {
  margin-right: 10px;
  font-size: 0.8em;
  color: #666;
}

.delete-comment-icon {
  cursor: pointer;
}

.add-comment {
  display: flex;
  gap: 10px;
}

.add-comment input[type="text"] {
  flex-grow: 1;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-comment button {
  height: 50px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  width:90px;
}

.add-comment button:hover {
  background-color: #333;
}
